* {box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.content, #canvas {
    width: 50%;
    border: 1px solid black;
}

.content {
    background-color: lightblue;
    text-align: center;
}

#canvas {
    background-color: silver;
    min-height: 100vh;
}

.start {
    font-style: italic;
    font-weight: bold;
    color: rgb(150, 0, 0);
    font-size: 1.2em;
}

.content>article {
    display: flex;
    flex-direction: column;
    align-items:center;
}

p {
    width: 100%;
    text-indent: 40px;
    text-align: left;
    padding: 0 20px;
}

button {
    border-radius: 6px;
    font-weight: bold;
    padding: 5px 10px;
}

.error {
    color: red;
    font-weight: bold;
}

#rect {
    border: 2px solid maroon;
    display: none;
}

strong>span {color: green;}

.result {
    margin-top: 15px;
    font-weight: bold;
}

.result:last-child {padding-bottom: 20px;}

input[type="number"] {
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 15px;
}

#dot12 {
    width: 4px;
    height: 4px;
    border: 1px solid red;
    position: absolute;
    background-color: red;
    box-shadow: 0 0 3px yellow;
}
